.addButton{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float: right;
    position: absolute;
    top: 90%;
    left: 95%;
}
.addButton:hover {
    opacity: 0.5;    
}

.controlButtons {
    border: 1px solid #ccc;
    padding-top: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: white;
}

.controlButtons:hover{
    cursor: pointer;
    border: 1px solid #ccc;
    padding-top: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: #ccc;
}
.itemIsForToday{
    border: 5px solid #ccc;
}
.isActive{
    color: green;
}
.isFavorite{
    color: #F4F147;
    background-color: #E2E1E1;
}